[submodule "site-lisp/textmate.el"]
	path = site-lisp/textmate.el
	url = git://github.com/defunkt/textmate.el
[submodule "site-lisp/rvm.el"]
	path = site-lisp/rvm.el
	url = http://github.com/djwhitt/rvm.el.git
[submodule "site-lisp/rhtml.git"]
	path = site-lisp/rhtml.git
	url = https://github.com/eschulte/rhtml.git
